{% extends 'main.html' %}

{% block content %}
{% if  pagename == 'login' %}
<div>
    <h1>hello</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username: </label>
        <input type="username" name="username" placeholder="Enter Username..">
        <label>Password: </label>
        <input type="password" name="password" placeholder="Enter Password..">
        <input type="submit" value="Login">
    </form>

    <p>Haven't signin yet</p>
    <a href="{% url 'register' %}">Sign In</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
    <p>Already Sign In</p>
    <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock content %}